 #root {
  width: 100vw;
  height: 100vh;
}

/* NOTE TO SELF: Add media breakpoint at 700px for mobile layout */

/* ALL COMPONENTS ARE RENDERED WITHIN THE MAIN CONTAINER */
/* this class is declared on the App.jsx file */
.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: grey;
}

/* ----------------------- SIDEBAR STARTS ------------------------ */
/* CSS for sidebar component - it is rendered on every page on the left on desktop */
/* at the bottom on mobile */
/* .sidebar is the most top-level container of the sidebar */
.sidebar {
  background-color: red;
  /* flex basis determines how much of the 100% space of mainContainer the sidebar takes */
  flex-basis: 20%;
  min-width: 300px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* contains the top (larger) portion of the sidebar */
/* login forms / user information */
.sidebarMainContainer {
  background-color: green;
  width: 100%;
  height: 100%;
  flex-basis: 80%;
}

/* THIS ONLY RENDERS IF THE USER IS LOGGED IN (see UserSidebar component) */
.userProfile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: auto;
  height: 96%;
  margin: 2%;
  padding: 0px;
}



/* THIS ONLY RENDERS IF THE USER IS NOT LOGGED IN (see UserSidebar component) */
/* div that contains login/signup forums if user is not logged in */
.login-signup-forumsContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: auto;
  height: 96%;
  margin: 2%;
  padding: 0px;
}

.sidebar-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* contains the bottom (smaller) portion of the sidebar */
/* createroom and donate buttons */
.sidebarButtonContainer {
  background-color: orange;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-basis: 20%;
}

/* ----------------------- SIDEBAR ENDS ------------------------ */

/* Contains header and routing components (varies depending on page url defined in Main.jsx) */
.routeContainer {
  width: 100%;
  height: 100%;
  /* routeContainer takes up 78% of mainContainer's flex space */
  flex-basis: 80%;
  background-color: aqua;
}

/* CSS for the header component - it is rendered on every page near the top */
.header {
  background-color: blue;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
