 
 :root {
  --darkBackground: rgb(4,5,5) ;
  --medBackground: rgb(17,28,23) ;
  --lightBackground: rgb(21,46,34) ;
  --altBackground: rgb(15,74,72) ;

  --redChar: rgb(166,36,36) ;
  --yellowChar: rgb(196,142,26) ;
  --greenChar: rgb(126,186,58) ;
  --lightGreenChar: rgb(179,237,116) ;
 }
 
 #root {
  width: 100vw;
  height: 100vh;
}

/* NOTE TO SELF: Add media breakpoint at 700px for mobile layout */

/* ALL COMPONENTS ARE RENDERED WITHIN THE MAIN CONTAINER */
/* this class is declared on the App.jsx file */
.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: var(--darkBackground);
  overflow: hidden;
}

/* ----------------------- SIDEBAR STARTS ------------------------ */
/* CSS for sidebar component - it is rendered on every page on the left on desktop */
/* at the bottom on mobile */
/* .sidebar is the most top-level container of the sidebar */
.sidebar {
  background-color: red;
  /* flex basis determines how much of the 100% space of mainContainer the sidebar takes */
  flex-basis: 20%;
  min-width: 300px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/* contains the top (larger) portion of the sidebar */
/* login forms / user information */
.sidebarMainContainer {
  background-color: green;
  width: 100%;
  height: 100%;
  flex-basis: 80%;
}

/* THIS ONLY RENDERS IF THE USER IS LOGGED IN (see UserSidebar component) */
.userProfile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: auto;
  height: 96%;
  margin: 2%;
  padding: 0px;
}



/* THIS ONLY RENDERS IF THE USER IS NOT LOGGED IN (see UserSidebar component) */
/* div that contains login/signup forums if user is not logged in */
.login-signup-forumsContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: auto;
  height: 96%;
  margin: 2%;
  padding: 0px;
}

.sidebar-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* contains the bottom (smaller) portion of the sidebar */
/* createroom and donate buttons */
.sidebarButtonContainer {
  background-color: orange;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-basis: 20%;
}

/* ----------------------- SIDEBAR ENDS ------------------------ */


/* ***************** HEADER AND MAIN AREA CONTAINER ***************** */
/* Contains header and routing components (varies depending on page url defined in Main.jsx) */
.routeContainer {
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 0px;
  /* routeContainer takes up 78% of mainContainer's flex space */
  flex-basis: 80%;
}

/* ----------------------- HEADER STARTS ------------------------ */
/* CSS for the header component - it is rendered on every page near the top */
.header {
  background-color: var(--lightBackground);
  border-radius: 20px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}


.header h1 {
  font-size: 2em;
  flex-basis: 20%;
  height: 65px;
  text-align: center;
  background-color: var(--medBackground);
  padding-top: 12px;
  border-radius: 20px;
}

.header p {
  flex-basis: 30%;
  margin: 0px 10px 0px 10px;
  height: 65px;
  text-align: center;
  background-color: var(--medBackground);
  padding-top: 20px;
  border-radius: 20px;
}

.header button {
  flex-basis: 50%;
  height: 65px;
  background-color: var(--medBackground);
  border-radius: 20px;
}

.sortDropdown {
  display: inline-block;
  position: relative;
}

.dropdownOptions {
  display: none;
  position: absolute;
}

.dropdownOptions button {
  width: 100%;
}

.sortDropdown:hover .dropdownOptions {
  display: block;
  z-index: 1;
}

/* ----------------------- HEADER ENDS ------------------------ */


/* ----------------------- HOMEPAGE CARDS START ------------------------ */
/* contains all the chatroom cards */
.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 120px;
}

/* every individual card that renders in the card container */
.card {
  background-color: var(--lightBackground);
  border-top: 11px solid var(--medBackground);
  border-left: 11px solid var(--medBackground);
  border-right: 11px solid var(--medBackground);
  border-radius: 20px;
  margin: 15px 10px 15px 10px;
  padding: 0px;
  width: 250px;
  height: 380px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
}

.card img {
  border: 5px solid var(--medBackground);
  margin: 20px 0px 10px 0px;
  width: 170px;
  height: 170px;
  border-radius: 100%;
}

.card h1 {
  font-size: 2em;
  color: var(--lightGreenChar);
}

.card h2 {
  background-color: var(--medBackground);
  color: var(--lightGreenChar);
  font-size: 1.1em;
  border-radius: 20px;
  width: 200px;
  height: auto;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 2px 0px;
}

.card h3 {
  font-size: 3em;
  position: absolute;
  bottom: 5px;
  color: var(--greenChar);
}

/* ----------------------- HOMEPAGE CARDS ENDS ------------------------ */



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
